# Python
**/*.py[cod]
**/__pycache__
**/.cache-*
**/.pytest_cache

# Environments
**/.env
**/.venv
**/env
**/venv

# IDE
**/.vscode
**/.idea
**/.DS_Store

# Project specific
**/uploads/*
**/outputs/*
**/.git
**/.github
**/uv.lock
**/pyproject.toml

# Documentation
**/images
**/BRANCH_AND_RELEASE_PROCESS.md
**/CODE_CONTRIBUTIONS_GUIDE.md
**/GITHUB_WORKFLOW.md
**/CONTRIBUTING.md

# Fly.io
fly.toml
