# fly.toml app configuration file for bimodel-transcription
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'deepgram-bimodel-transcription'
primary_region = 'sjc'

[build]
  dockerfile = "Dockerfile"

[env]
  # Environment variables can be set here or via fly secrets

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
